**/node_modules
**/.idea
**/target
**/out
**/package-lock.json
**/worlds/**

minecraft-server/world
minecraft-server/world_nether
minecraft-server/world_the_end
minecraft-server/logs

**/save.json
**/fileQueue.json